{{ define "main" }}
<h1>
{{- if isset .Data "Term" -}}
Entries tagged - "{{ .Data.Term }}"
{{ else }}
{{- with .Title -}}{{ . }}{{- else -}}{{ .Section | title }}{{- end -}}
{{- end -}}
</h1>

<section>
        <ul>
                {{ $paginator := .Paginate .Data.Pages.ByDate.Reverse }}
                {{ range $paginator.Pages }}
                {{ template "partials/postslist.html" . }}
                {{ end }}
        </ul>
</section>
<section>
        {{ template "partials/paginator.html" $paginator }}
</section>
{{ end }}
