{{ $resume := dict -}}

{{ with .Site.Data.resume }}
  {{ $resume = . }}
{{ else }}
  {{ with .Site.Params.jsonResume }}
    {{ $resumeJsonUrl := printf "https://registry.jsonresume.org/%s.json" .slug }}
    {{ if .qr }}
      {{ $qrUrl := printf "https://registry.jsonresume.org/%s.qr" .slug }}
      {{ with resources.GetRemote $resumeJsonUrl }}
        {{ $resume = merge (. | transform.Unmarshal) (dict "qrUrl" $qrUrl) }}
      {{ end }}
    {{ else }}
      {{ $resume = . | transform.Unmarshal }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $resume }}
