{{- with .basics -}}
  <section class="grid">
    <div>
      {{ with .name }}
        <h2>{{ . }}</h2>
      {{ end }}
      {{ with .label }}
        <p><em>{{ . }}</em></p>
      {{ end }}
      {{ with .summary }}
        <p>{{ . }}</p>
      {{ end }}
    </div>

    <div align="center">
      {{ with .image }}
        {{ with resources.GetRemote . }}
          <img
            src="{{ .RelPermalink }}"
            width="200px"
            height="200px"
            {{ with $.basics.name }}
              alt="{{ . }}'s Resume"
            {{ end }}
          />
        {{ end }}
      {{ end }}
      {{ with $.qrUrl }}
        {{ with resources.GetRemote . }}
          <img
            src="{{ .RelPermalink }}"
            width="200px"
            height="200px"
            {{ with $.basics.name }}
              alt="QR Code Linking to {{ . }}'s Resume"
            {{ end }}
          />
        {{ end }}
      {{ end }}
    </div>
  </section>

  <section class="grid basics-links">
    <div>
      <h3>{{ T "contact" | title }}</h3>
      <ul>
        {{ with .email }}
          <li>
            <a href="mailto:{{ . }}" rel="me" title="Email">
              {{ partial "feather.html" "mail" }}
              {{ . }}
            </a>
          </li>
        {{ end }}
        {{ with .phone }}
          <li>
            <a href="tel:{{ . }}" rel="me" title="Phone">
              {{ partial "feather.html" "phone" }}
              {{ . }}
            </a>
          </li>
        {{ end }}
        {{ with .url }}
          <li>
            <a href="{{ . }}" rel="me" title="Website">
              {{ partial "feather.html" "link" }}
              {{ . }}
            </a>
          </li>
        {{ end }}
      </ul>
    </div>

    {{ with .profiles }}
      <div>
        <h3>{{ T "profile" | title }}</h3>
        <ul>
          {{- range . }}
            <li>
              <a href="{{ .url }}" rel="me" title="{{ .network }}">
                {{ partial "feather.html" (.network | lower ) }}
                {{ .username }}
              </a>
            </li>
          {{- end }}
        </ul>
      </div>
    {{ end }}

  </section>

  <section class="grid basics-links">
    {{ with $.projects }}
      <div>
        <h3>{{ T "project" | title }}</h3>
        <ul>
          {{ range . }}
            <li>
              <a href="{{ .url }}">
                {{ .name }}
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}

    {{ with $.certificates }}
      <div>
        <h3>{{ T "certificate" | title }}</h3>
        <ul>
          {{ range . }}
            <li>
              <a href="{{ .url }}" title="{{ .issuer }}">
                {{ .name }}
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}

    {{ with $.publications }}
      <div>
        <h3>{{ T "publication" | title }}</h3>
        <ul>
          {{ range . }}
            <li>
              <a href="{{ .url }}">
                {{ .name }}
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}

    {{ with $.awards }}
      <div>
        <h3>{{ T "award" | title }}</h3>
        <ul>
          {{ range . }}
            <li>
              <p>{{ .title }} - <em>{{ .awarder }}</em></p>
            </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
  </section>
{{- end -}}
