{{ with .projects }}
  <h2>{{ T "project" | title }}</h2>
  <hr />
  {{ range $proj := . }}
    <article>
      <header class="grid">
        <div>
          {{ with .name }}
            <h3>
              {{ with $proj.url }}
                <a href="{{ . }}">{{ $proj.name }}</a>
              {{ else }}
                {{ . }}
              {{ end }}
            </h3>
          {{ end }}
          <p>{{ partial "resume/start-end-times.html" . }}</p>
        </div>
      </header>

      <div>
        {{ with .description }}
          <p>{{ . }}</p>
        {{ end }}

        {{ with .highlights }}
          <h4>{{ T "highlight" | title }}</h4>
          {{ range . }}
            <ul>
              <li><p>{{ . }}</p></li>
            </ul>
          {{ end }}
        {{ end }}
      </div>
    </article>
  {{ end }}
{{ end }}
