{{- $resume := .data | default . -}}
{{- $brief := .brief | default false -}}
{{ with $resume.work }}
  <h2>{{ T "work_experience" | title }}</h2>
  <hr />
  {{ range $work := . }}
    <article>
      <header class="grid">
        <div>
          {{ with .position }}
            <h3>{{ . }}</h3>
          {{ end }}
          {{ with $name := .name }}
            <p>
              <em>
                {{ with $work.url }}
                  <a href="{{ . }}" target="_blank">{{ $name }}</a>
                {{ else }}
                  {{ $name }}
                {{ end }}
              </em>
            </p>
          {{ end }}
          <p>{{ partial "resume/start-end-times.html" . }}</p>
        </div>
        {{ with .location }}
        <div>
          <p><em>{{ . }}</em></p>
        </div>
        {{ end }}
      </header>

      {{- if not $brief }}
      <div>
        {{ with .summary }}
          <p>{{ . }}</p>
        {{ end }}

        {{ with .highlights }}
          <h4>{{ T "highlight" | title }}</h4>
          <ul>
            {{ range . }}
              <li>{{ . }}</li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
      {{- end }}
    </article>
  {{ end }}
{{ end }}
