{{- if isset .Site.Params "logo" -}}
{{- $original := resources.Get site.Params.logo }}

<link rel="icon" href="{{ $original.RelPermalink }}" />

{{- $fav16 := $original.Fit "16x16 png" }}
{{- $fav32 := $original.Fit "32x32 png" }}
<link rel="icon" type="image/png" sizes="16x16" href="{{ $fav16.RelPermalink }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ $fav32.RelPermalink }}">

{{- $apple_icon := $original.Fit "76x76 png" }}
<link rel="apple-touch-icon-76x76" href="{{ $apple_icon.RelPermalink | relURL }}" />
<link rel="apple-touch-icon-76x76-precomposed" href="{{ $apple_icon.RelPermalink | relURL }}" />

{{- $apple_icon := $original.Fit "114x114 png" }}
<link rel="apple-touch-icon" href="{{ $apple_icon.RelPermalink | relURL }}" />
<link rel="apple-touch-icon-precomposed" href="{{ $apple_icon.RelPermalink | relURL }}" />

{{- $apple_icon := $original.Fit "120x120 png" }}
<link rel="apple-touch-icon-120x120" href="{{ $apple_icon.RelPermalink | relURL }}" />
<link rel="apple-touch-icon-120x120-precomposed" href="{{ $apple_icon.RelPermalink | relURL }}" />

{{- $apple_icon := $original.Fit "128x128 png" }}
<!-- For android Chrome -->
<link rel="icon" type="image/png" href="{{ $apple_icon.RelPermalink | relURL }}" sizes=128x128>

{{- $apple_icon := $original.Fit "152x152 png" }}
<link rel="apple-touch-icon-152x152" href="{{ $apple_icon.RelPermalink | relURL }}" />
<link rel="apple-touch-icon-152x152-precomposed" href="{{ $apple_icon.RelPermalink | relURL }}" />

{{- $apple_icon := $original.Fit "160x160 png" }}
<link rel="apple-touch-icon-160x160" href="{{ $apple_icon.RelPermalink | relURL }}" />
<link rel="apple-touch-icon-160x160-precomposed" href="{{ $apple_icon.RelPermalink | relURL }}" />
<!-- Pour android Chrome -->
<link rel="icon" type="image/png" href="{{ $apple_icon.RelPermalink | relURL }}" sizes=160x160>

{{- $apple_icon := $original.Fit "167x167 png" }}
<link rel="apple-touch-icon-167x167" href="{{ $apple_icon.RelPermalink | relURL }}" />
<link rel="apple-touch-icon-167x167-precomposed" href="{{ $apple_icon.RelPermalink | relURL }}" />

{{- $apple_icon := $original.Fit "180x180 png" }}
<link rel="apple-touch-icon-180x180" href="{{ $apple_icon.RelPermalink | relURL }}" />
<link rel="apple-touch-icon-180x180-precomposed" href="{{ $apple_icon.RelPermalink | relURL }}" />

{{- $apple_icon := $original.Fit "196x196 png" }}
<link rel="apple-touch-icon-196x196" href="{{ $apple_icon.RelPermalink | relURL }}" />
<link rel="apple-touch-icon-196x196-precomposed" href="{{ $apple_icon.RelPermalink | relURL }}" />
{{- end }}
