<footer>
        <section>
                <small><strong>Explore Tags</strong></small>
                <nav>
                <ul>
                        {{ range .Site.Taxonomies.tags }}
                        <li>
                                <small>
                                        <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
                                </small>
                        </li>
                        {{ end }}
                </ul>
                </nav>
        </section>
        
        {{ with .Site.Params.Social }}
        <section>
                {{- range $i, $key := . -}}
                {{- if $i -}}<span>|</span>{{- end -}}
                <a href="{{ $key.url }}" rel="me" title="{{ $key.name }}">
                        <svg class="feather">
                                <use href='{{ absURL "feather-icons/feather-sprite.svg" }}#{{ $key.icon }}'></use>
                        </svg>
                </a>
                {{- end -}}
        </section>
        {{- end -}}

        <section>
                <p>
                        {{- /*
                          Copyright years range from the year of the oldest page
                          to the year of the newest one.
                        */ -}}
                        {{ $currentYear := now.Year -}}
                        {{- $copyrightYears := slice -}}
                        {{- $seenYears := dict -}}

                        {{- range .Site.RegularPages.ByDate -}}
                          {{- $year := string .Date.Year -}}
                          {{- if not (index $seenYears $year) -}}
                            {{- $copyrightYears = $copyrightYears | append $year -}}
                            {{- $seenYears = merge $seenYears (dict $year true) -}} 
                          {{- end -}}
                        {{- end -}}

                        {{- /* If there are more than 5 years, shorten the list */ -}}
                        {{- if gt (len $copyrightYears) 5 -}}
                          {{- $copyrightYears = (slice
                            (index $copyrightYears 0)
                            "..."
                            (index $copyrightYears (sub (len $copyrightYears) 3))
                            (index $copyrightYears (sub (len $copyrightYears) 2))
                            (index $copyrightYears (sub (len $copyrightYears) 1))
                          ) -}}
                        {{- end }}

                        <small>
                                ©
                                {{ delimit $copyrightYears ", " " & " }} 
                                {{ with .Site.Copyright -}}
                                {{- . -}}
                                {{- end -}}.
                        </small>
                        {{ with .GitInfo }}
                        <small>
                                Commit
                                {{ if $.Site.Params.siteRepo }}
                                <a target="_blank"
                                        href="https://github.com/{{ $.Site.Params.siteRepo }}/commit/{{ .Hash }}">
                                        {{ .AbbreviatedHash }}
                                </a>
                                {{ else }}
                                {{ .AbbreviatedHash }}
                                {{ end }}.
                        </small>
                        {{ end }}
                </p>
        </section>
</footer>
