<header class="container">
  <nav id="site-nav">
    <ul>
      <li>
        <h1><a href="{{ absURL "" }}">{{ .Site.Title }}</a></h1>
      </li>
    </ul>
    <ul>
      {{ range .Site.Menus.main }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </nav>

  {{ with .Site.Params.Social }}
    <div id="site-header-social">
      {{- range . -}}
        <a href="{{ .url }}" rel="me" title="{{ .name }}">
          {{ partial "feather.html" .icon }}
        </a>
      {{- end -}}
    </div>
  {{- end -}}

  {{- with .Site.Params.Subtitle -}}
    <p id="site-header-subtitle">{{ . | markdownify }}</p>
  {{- end -}}
</header>
