<!doctype html>
<html lang="{{ .Site.Language.Lang | default "en" }}">
  <head>
    {{ partial "head.html" . }}
  </head>

  <body>
    {{ partial "header.html" . }}


    <main class="container">
      {{ $pages := first 3 (
        where
        (where .Site.RegularPages "Type" "in" .Site.Params.mainSections)
        "Params.categories" "intersect" (slice  "featured")
        )
      }}
      {{- if gt (len $pages) 0 }}
        <section>
          <h2>{{ T "featured" | title }}</h2>
          <ul>
            {{ range $pages }}
              {{ partial "page-list-item.html" . }}
            {{ end }}
          </ul>
        </section>
      {{ end }}


      {{- with partial "resume/get.html" . -}}
        <h2>{{ T "about" | title }}</h2>
        <hr>
        <article class="resume">
          {{- partial "resume/overview.html" . -}}
        </article>
      {{ end }}
    </main>

    {{ partial "footer.html" . }}
  </body>
</html>
