<!doctype html>
<html lang="{{ .Site.Language.Lang | default " en" }}">
{{ partial "head.html" . }}

<body>
  <div class="content">
    {{ partial "header.html" . }}
    <main class="list">
      <div class="site-description">
        {{- if isset .Site.Params "subtitle" -}}
        <p>{{ .Site.Params.Subtitle | markdownify }}</p>
        {{- end -}}
      </div>
      <ul>
        {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
        {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) 20 }}
        {{ range $paginator.Pages }}
        {{ template "partials/postslist.html" . }}
        {{ end }}
      </ul>
      {{ template "partials/paginator.html" . }}
    </main>
    {{ partial "footer.html" . }}
  </div>
</body>

</html>
