<!doctype html>
<html lang="{{ .Site.Language.Lang | default "en" }}">
  <head>
    {{ partial "head.html" . }}
  </head>

  <body>
    <header class="container">{{ partial "header.html" . }}</header>

    <main class="container">
      {{ $pages := first 3 (
        where
        (where .Site.RegularPages "Type" "in" .Site.Params.mainSections)
        "Params.featured" "eq" true
        )
      }}
      {{- if gt (len $pages) 0 }}
        <section>
          <h2>{{ T "featured" | title }}</h2>
          <ul>
            {{ range $pages }}
              {{ template "partials/pageslist.html" . }}
            {{ end }}
          </ul>
        </section>
      {{ end }}


      <h2>{{ T "about" | title }}</h2>
      <article class="resume">
        {{- with .Site.Params.jsonResumeRegistrySlug -}}
          {{- with partial "get-resume.html" $ -}}
            {{- partial "resume/overview.html" . -}}
          {{- end -}}
        {{- end -}}
      </article>
    </main>

    <footer class="container">{{ partial "footer.html" . }}</footer>
  </body>
</html>
